.header {
  height:280px;
  background: url('/modules/core/img/hero-trucks.jpg');
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3em;
  position:relative;
  z-index:99;
}

.flexbox {
  display:flex;
  -webkit-display:flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flexbox-vertical {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner {
  color:#203579;
  padding: 2em;
  height: 250px;
  text-shadow:  2px 0 0 #eeeeee,
  -2px 0 0   #eeeeee,
  0 2px 0   #eeeeee,
  0 -2px 0   #eeeeee,
  2px 2px 0   #eeeeee,
  -2px -2px 0   #eeeeee,
  -2px 2px 0   #eeeeee,
  2px -2px 0   #eeeeee;
}


.banner-text {
  text-align: center;
}

h1{
  font-size: 7em;
  font-weight: 800;
}

h3 {
  font-weight:900;
}

.center-nav {
  width:40em;
  margin:auto;
}

@media (max-width: 1100px) {
  h1 {
    font-size: 4em;
  }

  .banner {
    padding: 1em;
  }

  .center-nav {
    width:21em;
  }

}

.tiny-logo {
  width:50px;
  height:40px;
  margin-top: -10px;
}

.logo {
  width: 250px;
  height: 200px;
}


.nav{
  color: #203579;
}
