<section class="news-post" data-ng-controller="ArticlesController" data-ng-init="findOne()">

		<div class="news-image-container">
			<div class="news-image"></div>
		</div>
		<div class="post-container" style="display:inline-block">

		<form name="articleForm" data-ng-submit="update(articleForm.$valid)" novalidate>
			<fieldset>

				<input name="title" type="text" data-ng-model="article.title" id="title" class="post-title" placeholder="Choose a title" required>
				<input name="link" type="text" data-ng-model="article.link" id="link" class="post-title" placeholder="Link?" required>
				<div class="image-entry-container">
					<textarea placeholder="Image URL Here" name="imageurl" data-ng-model="article.imageurl" id="imageurl" class="image-entry"></textarea>
				</div>

				<div class="post" style="width:100%; height: 200px" ng-class="{'dev-mode':devMode}">
						<textarea placeholder="Type here!" name="content" data-ng-model="article.content" id="content" class="post-full"></textarea>
				</div>
				<input type="submit" style="display:block; color:black" value="Save" class="myButton post">
				<span data-ng-show="error" class="text-danger">
				<strong data-ng-bind="error"></strong>
				</span>

			</fieldset>
		</form>

</section>
